{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div id="projects-container">
        {% for project in projects %}
            {% if not project.archived %}
            <article class="card-project">
                <a href="/project/{{ project.id }}">
                    <h2>{{ project.name }}</h2>
                </a>
                <div class="card-project-icons">
                    <a href="projet-edit.html"><i class="fa-solid fa-pen"></i></a>
                    <a href="#"><i class="fa-solid fa-trash"></i></a>
                </div>
            </article>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
